 .food-item{
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    transition: 0.5s;
 }

 .food-item-image{
    width: 100%;
    border-radius: 10px;
 }

 .food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
 }

 .food-item-name-rating p{
    font-size: 20px;
    font-weight: 500 ;
    margin-bottom: 10px;
 }

.food-item-name-rating-img{
    width: 70px;
}

.food-item-desc{
    color: #606060;
    font-size: 15px;
    margin-bottom: 10px;
}

.food-item-price{
    color: black;
    font-weight: 700;
}

.food-item-img-container{
    position: relative;
}

.food-item-img-container .add{
   width: 35px;
   position: absolute;
   bottom: 15px;
   right: 15px;
   border-radius: 50%;
   cursor: pointer;
}

.food-item-counter{
   position: absolute;
   bottom: 15px;
   right: 15px;
   background-color: white;
   border-radius: 50px;
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 6px; 
}