.cart {
  margin-top: 100px;
  padding: 0 20px;
}

.cart-items {
  margin: 50px auto;
  max-width: 1200px;
}

.cart-items-title {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 10px;
  color: #555;
  font-size: 15px;
  padding: 10px 0;
}

.cart-items-title p {
  margin: 0;
}

.cart-items > hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
  margin: 10px 0;
}

.cart-items-item {
  margin: 10px 0;
  color: black;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-remove {
  cursor: pointer;
  background-color: tomato;
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.cart-item-remove:hover {
  background-color: #ff4520;
}

.cart-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}

.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-total h2 {
  margin: 0 0 20px 0;
  font-size: 22px;
  font-weight: 600;
  color: #262626;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
  padding: 8px 0;
}

.cart-total-details p,
.cart-total-details b {
  margin: 0;
  font-size: 15px;
}

.cart-total hr {
  margin: 0;
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}

.cart-total button {
  border: none;
  color: white;
  background-color: tomato;
  width: 100%;
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: background-color 0.3s;
}

.cart-total button:hover {
  background-color: #ff4520;
}

.cart-promocode {
  padding: 0;
}

.cart-promocode p {
  color: #555;
  margin: 0 0 15px 0;
  font-size: 15px;
}

.cart-promocode-input {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #eaeaea;
  border-radius: 4px;
  overflow: hidden;
}

.cart-promocode-input input {
  background: transparent;
  border: none;
  outline: none;
  padding: 12px 15px;
  flex: 1;
  font-size: 14px;
  color: #333;
}

.cart-promocode-input input::placeholder {
  color: #999;
}

.cart-promocode-input button {
  padding: 12px 3;
}

.cart-promocode-input button {
  padding: 12px 25px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.cart-promocode-input button:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .cart-bottom {
    flex-direction: column;
  }
  
  .cart-items-title {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
    font-size: 14px;
  }
  
  .cart-item-image {
    width: 40px;
    height: 40px;
  }
}
