.footer {
    color:#d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding:80px 8vw;
    padding-top: 80px;
    margin-top: 30px;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left, .footer-content-center, .footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left img{
    width: 150px;
}

.footer-content-left p{
    line-height: 1.6;
}

.footer-social-icons{
    display: flex;
    gap: 15px;
}

.footer-social-icons img{
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    background-color: #444;
    transition: 0.3s;
}

.footer-social-icons img:hover{
    background-color: #555;
    transform: scale(1.1);
}

.footer-content-center ul, .footer-content-right ul{
    padding: 0;
}

.footer-content-left li, .footer-content-center li, .footer-content-right li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-content-center h2, .footer-content-right h2{
    color: white;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 10px 0px;
    background-color: grey;
    border: none;
}

.footer-copyright{
    text-align: center;
}

@media (max-width: 768px) {
    .footer-content{
        grid-template-columns: 1fr;
        gap: 40px;
    }
}