.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position:relative;
}

.header-contents{
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items:start;
    gap: 1vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;

}

.header-contents h2{
    font-weight: 500;
    color: #ffffff;
    font-size: max(4.5vw, 22px);
}

.header-contents p{
    font-size: max(1.8vw, 16px);
    color: #ffffff;
}

.header-contents button{
    padding: 1vw 2.3vw;
    font-size: max(1vw, 14px);
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}